@import '../../css/base/_global.styl'

.news-detail-wrap

  > .ft
    position: fixed
    left: 0
    bottom: 0
    background-color: $gray-light
    width: 100%
    height: 48px
    line-height: 48px
    color: $black
    font-size: 1.3rem
    cf()
    padding: 0 18px

    .iconfont
      font-size: 1.8rem
      margin-right: 8px
      color: $black

    .reading
      cf()
      display: block
      color: $black
      padding-top: 2px

    .icon-eyes
      float: left
      margin-top: -1px

    .share
      float: right
      color: $black
      font-size: 1.3rem

    .icon-share-norm
      font-size: 1.4rem

    .text
      font-size: 1.3rem

  > .bd
    padding: 44px 0 48px
    background-color: $white

  .detail
    padding: 0 18px

    > .hd
      border-bottom: 1px dashed $gray
      padding-bottom: 10px
      margin-bottom: 10px

    .title
      font-size: 2rem
      color: $black-dark
      line-height: 28px
      padding: 8px 0
      font-weight: 600

    .meta
      font-size: 1.2rem
      color: $black-light
      cf()

    .meta-date
      float: right

    img
      width: 100%

    > .bd
      p
        line-height: 1.5
        margin-bottom: 20px
        color: $black-dark
        font-size: 1.4rem

      strong
        font-weight: bold

    > .ft
      padding-bottom: 20px

      img
        width: 130px
        margin: 35px auto 10px

      p
        font-size: 1.4rem
        color: $black
        line-height: 1.5
        text-align: center

    .affix
      margin-top: 20px
      border: 1px solid $gray-dark
      padding: 10px
      border-radius: 4px

      > .bd
        text-align: center

        p
         color: $black-dark
         font-size: 1.3rem
         margin-bottom: 0
         line-height: 1.3

        a
          display: block
          width: 150px
          height: 30px
          margin: 5px auto 0
          line-height: 30px
          text-align: center
          border-radius: 6px
          font-size: 1.3rem
          color: $white
          background-color: $blue-dark


