#boxoffice-chart-line
#showtime-chart-line
  z-index: 1

.c-chart-wrap
  .legend
    font-size: 1.2rem
    width: 260px
    margin: 0 auto
    padding-bottom: 20px
    li
      display: inline-block
      line-height: 20px
      width: 49%
      @extend $ellipsis
      &:before
        display: inline-block
        content: ''
        width: 5px
        height: 5px
        margin-right: 8px
        border-radius: 50%
        vertical-align: middle
      &:first-child
        &:before
          background-color: $blue-dark
      &:nth-child(2)
        &:before
          background-color: #f1312d
      &:nth-child(3)
        &:before
          background-color: #00d294
      &:nth-child(4)
        &:before
          background-color: #ffaa00
