.c-select-confirm
  background: $white
  border-top: 1px solid $gray-dark
  > .hd
    height: 26px
    line-height: 26px
    vertical-align: middle
    padding-left: $padding-left
    border-bottom: 1px solid $gray-light
    span
      font-size: 1.2rem
    strong
      color: $blue-dark
      margin: 0 3px
    .select-tip
      color: $black-light
      font-size: 1rem
  > .bd
    height: 95px
    padding: 8px 4% 8px
    .c-selected-item
      display: inline-block
      vertical-align: top
      width: 25%
  > .ft
    .btn-confirm
      display: block
      text-align: center
      line-height: 50px
      height: 50px
      color: $white
      background: $blue-dark
    .btn-confirm.disabled
      background: $gray-dark
      color: $black-light


.c-selected-item
  text-align: center
  > .hd
    position: relative
    width: 45px
    margin: 0 auto
    img
      width: 45px
      height: 60px
      border-radius: 3px
    .action-wrap
      position: absolute
      right: 0
      top: 0
    .action
      width: 16px
      height: 16px
      background-color: $black
      color: $white
    .icon-delete
      display: inline-block
      vertical-align: middle
      line-height: 16px
      font-size: .8rem
  > .bd
    margin-top: 5px
    font-size: 1rem
    color: $black-light
    h3
      @extend $ellipsis
