.c-select-item
  display: table
  height: 70px
  width: 100%
  padding: 5px 0 5px $padding-left
  border-bottom: 1px solid $gray-light
  > .bd,
  > .hd,
  > .ft
    display: table-cell
    vertical-align: middle
  > .hd
    width: 45px
    img
      display: block
      width: 45px
      height: 60px
      border-radius: 3px
  > .bd
    padding-left: 4%
    h3
      font-size: 1.3rem
      line-height: 1
      margin-bottom: 10px
      color: $black-dark
    p
      font-size: 1.1rem
      width: 220px
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      color: #999
  > .ft
    width: 40px
    .action
      color: $blue-dark
    .icon-tick
      font-size: 1rem
