.c-select-list
  background: $white
  border-bottom: 1px solid $gray-dark
  height: 326px
  margin-bottom: 5px
  overflow-y: auto
  -webkit-overflow-scrolling: touch
  > .hd
    height: 36px
    padding-left: $padding-left
    line-height: 36px
    vertical-align: middle
    border-bottom: 1px solid $gray-dark
    font-size: 1.4rem
    font-weight: normal
    color: $black-dark
