$ico-arr
  content: ""
  display: inline-block
  width: 6px
  height: 6px
  border: 1px solid $blue-dark
  border-left: none
  border-top: none
  transform: rotate(-45deg)
  margin-top: 16px

.icon-arrow-d
  &:after
    @extend $ico-arr
    transform: rotate(45deg) translate(0, -50%)

.icon-arrow-t
  &:after
    @extend $ico-arr
    transform: rotate(-135deg)

.category
  height: 38px
  line-height: 38px
  position: relative
  border-bottom: 1px solid $gray-dark

  > .hd
    padding-left: 16px

  h3,
  ul
    font-size: 1.3rem
    color: $black

  .icon
    margin: 0 0 0 5px

  ul
    border: 1px solid $gray-dark
    border-radius: 5px
    position: absolute
    left: 4px
    top: 32px
    padding: 0 12px
    background-color: $white
    z-index: $z-normal-1

  li
    color: $black-dark
    border-bottom: 1px solid $gray-light
    padding: 5px 0
    text-align: center

  .on
    color: $blue-dark

