.item
  cf()
  border-bottom: 1px solid $gray-light
  padding: 15px

  .hd
    float: right
    width: 90px
    height: 90px
    overflow: hidden

    img
      width: 90px

  .bd
    position: relative
    height: 90px
    padding-right: 100px

  h3
    font-size: 1.5rem
    color: $black-dark
    line-height: 22px
    height: 65px
    overflow: hidden

  .meta-category
    font-size: 0.9rem
    position: absolute
    left: 0
    bottom: 0
    color: $blue-dark
    border: 0.5px solid $blue-dark
    border-radius: 3px
    padding: 5px 5px 3px
    display: inline-block
    text-align: center

  .meta-date
    color: $black-light
    font-size: 1rem
    position: absolute
    right: 105px
    bottom: 2px

  .ft
    img
      width: 130px
      margin: 35px auto 10px

    p
      font-size: 1.4rem
      color: $black
      line-height: 1.5
      text-align: center
