@import '../../css/base/_global.styl'

$padding-left = 15px

.comparison-select-wrap
  padding-top: 44px
  @import "./components/_select_item.styl"
  @import "./components/_select_list.styl"
  @import "./components/_select_confirm.styl"
