.c-board
  background-color: $blue-black-dark
  &.future
    > .hd
      padding-bottom: 20px
    .c-chart-trend
      display: none
  > .hd
    padding-top: 20px
    text-align: center
    color: #fff
    font-size: .9rem
    line-height: 1.2
    h3
      strong
        font-size: 2.6rem
        margin: 0 2px
    .icon-point
      display: inline-block
      width: 14px
      height: 14px
      font-style: normal
      border: 1px solid $black-light
      border-radius: 50%
      color: $black-light
      font-weight: bold
      vertical-align: middle
      margin-left: 4px
      text-align: center
