.c-chart-trend
  > .bd
    z-index: 1
  > .ft
    padding: 5px 10% 20px 10%
    font-size: .9rem
    .legend
      float: left
      color: $light-font
      p
        &:before
          display: inline-block
          content: ''
          width: 8px
          height: 1.5px
          vertical-align: middle
          border-top: 1px solid #3babff
          margin: 0 4px 0 0
    .forecast
      float: right
      color: rgba(255, 255, 255, .7)
