@import '../../css/base/_global.styl'
@import './news/_head_new.styl'

// for load more - start
html
body,
#content
  height: 100%

.news-wrap
  height: 100%
  overflow: hidden

  > .bd
    height: 100%
    padding-top: 80px
    padding-bottom: 100px
    @extend $scrollY
    background-color: $white
// for load more - end

  @import './news/_category.styl'
  @import './news/_list.styl'
