doctype html
html

  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="format-detection", content="telephone=no")
    meta(content="telephone=no", name="format-detection")
    link(rel="icon", type="image/png", href="{{{img/icon/favicon.ico}}}")
    block meta
    link(rel="stylesheet", href="{{{css/common.css}}}")
    block style
    title 娱票儿票房分析

  body(class=env === 'development' ? 'develop' : '')
    block body
    block footer

    #app-share.g-c-app-share
    #global-loading
      i
    #global-toast
      .msg
    if 'development' === env
      script(src="{{{lib/base.dev.min.js}}}")
      script.
        eruda.init()
    else
      script(src="{{{lib/base.min.js}}}")

    script(src="{{{common.js}}}")
    block script

