@import './_cal.styl'

.g-c-date-picker
  flex: 1
  text-align: center
  & > .hd
    background: #fff
    width: 100%
    height: 35px
    z-index: $z-high-1
    border-bottom: 1px solid #ddd
    border-bottom: none
    &.css-1px:after
      background-color: #AAA6A6
    i
      display: inline-block
      margin-top: -6px
      vertical-align: middle
      margin-right: 2px
      font-size: 1.4rem
      color: #bbbbbb
      &.icon-calendar
        margin-top: 1px
        margin-right: 8px
        font-size: 1.2rem
    .nav-calendar
      width: 40%
    .nav-city,.nav-calendar,.nav-time
      display: inline-block
      font-size: 1.22rem
      line-height: 35px
      text-align: center
    .nav-city
      position: relative
      width: 30%
    .nav-time
      width: 30%
      margin-right: 0!important
      text-align: left
      select
        display: inline-block
        appearance: none
        line-height: 35px
    .nav-prev
      span
        margin-left: 10px
      .icon-arrow-left
        &:before
          position: static
          margin-top: 0px
          margin-right: 4px
          transform: rotate(135deg) translate(0, 0)
    .nav-calendar
      .icon-arrow-down
          margin-left: 7px
        &:after
          position: static
          margin-top: 2px
      &.on
        .icon-calendar
          color: $main-color
        .date
          color: $main-color
        .icon-arrow-down
          &:after
            transform: rotate(-135deg) translate(0, 0)
    .nav-next
      text-align: right
      span
        margin-right: 10px
      .icon-arrow-right
        &:after
          position: static
          margin-top: 0px
          margin-left: 4px
          transform: rotate(-45deg) translate(0, 0)
