.ui-wrap
  padding-top: 150px
  .g-c-head-lite
    top: 90px

  .g-c-feedback
    margin-top: 80px

  .g-c-tab-square
    position: absolute
    left: 45%
    top: 300px

  .btn-wrap
    position: relative
    top: 50px
    padding: 10px 20px

