// 过长晃示省略号...
$ellipsis
  text-overflow: ellipsis
  // 当对象内文本溢出时显示省略标记(...)说明
  overflow: hidden
  white-space: nowrap

.hide
  display: none !important

$scrollY
  overflow-y: scroll
  -webkit-overflow-scrolling: touch

