.radius
   border-radius: 5px
// 基础按钮
.g-c-btn
  border: 1px solid $blue-dark
  color: $blue-dark
  font-size: 1.3rem
  display: inline-block
  padding: 10px 8px

// 空心按钮
.g-c-btn-hollow
  border: 1px solid $blue-dark
  color: $blue-dark
  font-size: 1.3rem
  display: inline-block
  padding: 10px 8px
.g-c-btn-hollow.disabled
  border: 1px solid $black-light
  color: $black-light

// 更多按钮
.g-c-btn-more
  border: 1px solid $blue-dark
  border-radius: 5px
  color: $blue-dark
  font-size: $h4
  text-decoration: none
  padding: 1px 5px
  margin-left: 10px
  line-height: 20px
  display: inline-block

// 实心按钮
.g-c-btn-solid
  display: inline-block
  font-size: $h2
  color: $white
  background-color: $blue
  text-align: center
  padding: 15px 90px
  font-weight: bold
  &:active
    background-color: $blue-dark
.g-c-btn-solid.disabled
  color: $black-light
  background-color: $gray-dark

// block按钮
.g-c-btn-block
  display: block
  font-size: $h2
  color: $white
  background-color: $blue-dark
  text-align: center
  padding: 15px 90px
  font-weight: bold
.g-c-btn-block.disabled
  color: $black-light
  background-color: $gray-dark
