.g-c-feedback
  center()
  padding-bottom: 30px
  text-align: center

  // 标志语
  p
    color: $black-light
    font-size: 1rem
    padding-top: 18px

  // 链接按钮
  .link-wrap
    display: inline-block
    line-height: 25px
    font-weight: normal
    font-size: 1rem
    color: $blue-dark
    margin-right: 25px

    a
      display: block
      padding: 0 14px
      border-radius: 25px
      white-space: nowrap

    &:first-of-type
      a
        background-color: $blue-dark
        color: $white
        border: 1px solid $blue-dark

    &:last-of-type
      margin-right: 0

      a
        color: $blue-dark
        border: 1px solid $blue-dark

    i
      margin-right: 3px
      font-size: 1rem
