$head-height = 44px
$black-bg = #292929
// 二级页面头部
.g-c-head-lite
  position: fixed
  top: 0
  left: 0
  z-index: $z-high-1
  width: 100%
  height: $head-height
  line-height: $head-height
  background-color: $black-bg
  color: $white
  text-align: center
  font-weight: 500

  // 返回按钮
  .icon-back
    float: left
    display: inline-block
    width: $head-height
    height: $head-height

    &:after
      content: ""
      display: inline-block
      transform: rotate(135deg)
      width: 12px
      height: 12px
      border: 2px solid $white
      border-left: none
      border-top: none

  // 标题logo
  .logo
    float: right
    display: inline-block
    width: 60px
    height: 44px

    img
      width: 48px
      vertical-align: middle

  h1
    @extend $ellipsis
    height: $head-height
    font-size: 1.7rem
    text-align: center
    display: inline-block
    width: 60%
