$head-height = 44px
$black-bg = #292929
// 一级页面的通用head
.g-c-head
  color: $white
  text-align: center
  font-weight: 500

  .head
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: $z-high-1
    background-color: $black-bg

    > .hd
      position: relative
      // 搜索icon
      >.icon-search
        font-size: 2rem
        display: block
        height: 22px
        position: absolute
        right: 15px
        top: 11px

  h1
    center()
    @extend $ellipsis
    height: $head-height
    vertical-align: middle
    padding-top: 8px

    .logo
      width: 48px
      margin-right: 2px
      display: inline-block
      vertical-align: top

    .title
      display: inline-block
      transform: translateY(-4px)
      line-height: 1.6
      font-size: $h2
      color: $white

    span
      display: block
      font-size: 12px
      text-indent: 2px
      font-weight: 300
      line-height: 1
      transform: scale(0.9)
      margin-top: -5px

  // 首页切换tab
  .index-tab
    li
      height: 32px
      line-height: 32px
      display: inline-block
      padding: 0 20px
      font-size: $h1

      a
        color: $white

    .on
      border-bottom: 3px solid $blue-dark


