.g-c-search
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 0
  z-index: $z-higher-1
  background-color: $white
  // 搜索框
  >.hd
    background: $black-dark
    border-bottom: 1px solid $gray-dark
  .btn-cancel
    line-height: 3
    padding: 0 10px 0 0
    font-size: 1.1rem
    color: $white
  .input-box
    float: left
    width: 96%
    margin-top: 6px
    margin-right: -40px
    padding: 0 10px
    label
      position: absolute
      left: 20px
      top: 3px
      transform: translate(0, 50%)
      pointer-events: none
      .icon-search
        font-size: 1.2rem
        &:before
          color: $black-light
    .txt-search
      padding: 3px 0 3px 30px
      border-radius: 5px
      color: $black-dark
      text-align: left
      line-height: 1.4
      box-shadow: none
      font-size: 1.1rem
      font-weight: normal
      background: $white
      width: 87%
      display: block
      box-sizing: border-box
      &::-webkit-input-placeholder
        font-size: 1rem
        color: $black-light

  // 搜索结果
  >.bd
    overflow: scroll
    // 无结果
    .no-data
      font-size: 1.2rem
      color: $black-dark
      text-align: center
      line-height: 8
    // 影片&影院结果
    .movie-wrap,
    .cinema-wrap
      >.hd
        .title
          padding: 0px 20px
          border-bottom: 1px solid $gray-dark
          height: 34px
          color: $black-light
          span
            span(1/2)
            font-size: 1.2rem
            line-height: 2.4
            &:first-of-type
                text-align: left
            &:last-of-type
                text-align: right
      >.bd
        ul
          padding: 0px 20px
          li
            border-bottom: 1px solid $gray
            height: 36px
            line-height: 36px
            font-size: 1.2rem
            h5
              display: inline-block
              width: 85%
              text-align: left
              font-weight: normal
              @extend $ellipsis
              vertical-align: middle
              color: $black
              // 搜索的关键字
              em
                color: $blue
            span
              display: inline-block
              width: 15%
              color: $black
    // 搜索历史
    .recent-wrap
      >.hd
        background-color: $gray
        font-size: 1.2rem
        text-indent: 10px
        line-height: 2.2
        border-bottom: 1px solid $gray
        .title
          color: $black
          text-align: left
      >.bd
        ul
          li
            border-bottom: 1px solid $gray-light
            a
              h5
                font-size: $h1
                color: $black-light
                text-indent: 10px
                padding: 16px 0px
                text-align: left
                .icon-duration
                  color: $black-light
                  margin-right: 5px
        .btn-remove
          color: $blue-dark
          text-align: center
          font-size: 1.3rem
          padding: 16px 0px
          display: block
