// 下划线切换tab
.g-c-tab
  .tab
    background: $white
    display: flex
    border-bottom: 1px solid $gray
    li
      flex: 1
      text-align: center
      color: $black-light
      padding: 12px 0
      font-size: 1.35rem
      &.on
        color: $blue-dark
        border-bottom: 2px solid $blue-dark
  .tab-panel
    display: none
    &.on
      display: block

// 半圆空心tab
.g-c-tab-hollow
  text-align: center
  padding: 10px 0px
  li
    display: inline-block
    font-size: $h3
    color: $black-light
    text-align: center
    padding: 0px 12px
    span
      padding: 4px 12px
      border-radius: 20px
      border: 1px solid transparent
    &.on
      span
        color: $blue-dark
        border: 1px solid $blue-dark

// 半圆实心tab
.g-c-tab-solid
  text-align: center
  padding: 10px 0px
  li
    display: inline-block
    font-size: $h3
    color: $black-light
    text-align: center
    padding: 0px 10px
    span
      padding: 5px 10px
      border-radius: 20px
    &.on
      span
        color: $white
        background: $blue-dark

// 半方切换
.g-c-tab-square
  display: flex
  li
    flex: 1
    border: 1px solid $blue-dark
    font-size: $h4
    padding: 3px 4px
    color: $blue-dark
    &.on
      background-color: $blue-dark
      color: $white
    &:first-of-type
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    &:last-of-type
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
