#global-toast
  position: fixed
  top: -50px
  width: 100%
  transition: all .5s
  opacity: 0
  z-index: 100
  text-align: center
  div
    font-size: 1.4rem
    color: #fff
    text-align: center
    line-height: 1.4rem
    padding: 10px 30px
    margin: 0 auto
    display: inline-block
    border-radius: 25px
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3)
  .ok-toast
    background: $blue-dark
  .error-toast
    background: #FF6562

#global-toast.show
  top: 15%
  opacity: 0.9
